*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5ebdc;
}

/* ...........................navbar start..................  */

.logo img{
    width: 30%;
}
.sign-btn{
    border-radius: 18px;
}
.signup-btn button{
    background-color: #d62300;
    color: #ffff;
    border: none;
    padding: 15px;
    border-radius: 60px;
}
.pay-btn{
    background-color: #502314;
    color: #ffff;
    border: none;
    padding: 15px 25px;
    border-radius: 60px;
}

.nav-container{
    border-bottom: 1px solid #ccc;
    
    background-color: #f5ebdc;
}

.nav-sec{
   background-color: #f5ebdc;
}

.btn-bar i{
    display: none;
}


@media (max-width:810px){

    .signup-sec button{
        display: none;
    }
.btn-bar i{
    display: block;
}

}

.hero-box{
    background-color: #f5ebdc;
}

.footer-main{
    background-color: rgb(74, 30, 30);
    padding: 5px 0px 5px 0px;
    color: white;
    text-align: center;
}
.text-p p{
    padding-top: 15px;
    
}
.text-p p a{
    color: white;
    
}

.footer-last{
    background-color: rgb(255, 237, 231);
}
.foot-main-area{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 15px;
    padding-top: 20px;
    color: brown;
}


@media screen and (max-width:1200px){
    #par-1{
        font-size: 30px;
        
    }
}